# Shared dependencies
-r requirements_shared.txt

# Window level specific dependencies
absl-py
accelerate
adan-pytorch
aiohttp
aiosignal
albumentations
alembic
appdirs
async-timeout
attrs
audioread
av
axial_positional_embedding
bayesian-optimization
bleach
blobfile
braindecode
cachetools
cffi
cftime
cmaes
cmake
colorama
colorlog
CoLT5-attention
configparser
coverage
cramjam
decord
deepspeed
dill
docstring-inheritance
easydev
EDFlib-Python
einops
et-xmlfile
exceptiongroup
fastparquet
fire
frozenlist
fsspec
fvcore
google-auth
google-auth-oauthlib
grpcio
hjson
huggingface-hub
imageio
importlib_metadata
importlib_resources
iniconfig
iopath
kaggle
kymatio
lazy_loader
librosa
lightning-utilities
linear-attention-transformer
linformer
lion-pytorch
lit
lmdb
local-attention
Mako
Markdown
medmnist
memory-profiler
mne
mne-bids
mne-connectivity
moabb
msgpack
multidict
mypy
mypy_extensions
netCDF4
ninja
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
opencv-python
opencv-python-headless
openpyxl
optuna
pandarallel
parse
patsy
peft
pexpect
piq
platformdirs
plotly
pluggy
pooch
portalocker
product-key-memory
protobuf
ptyprocess
py-cpuinfo
pyasn1
pyasn1-modules
pycparser
pycryptodomex
pydantic
pyhealth
pyriemann
pytest
python-slugify
pytorch-lightning
PyWavelets
PyYAML
rdkit
regex
requests-oauthlib
rsa
safetensors
scikit-image
seaborn
skorch
soundfile
soxr
spectrum
statsmodels
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboardX
text-unidecode
thop
tifffile
timm
tokenizers
tomli
torch_lfilter
torchcam
torcheeg
torchinfo
torchlibrosa
torchmetrics
torchsampler
torchsummary
transformers
webencodings
Werkzeug
xarray
xmltodict
yacs
yarl
zipp
