# Shared dependencies
-r requirements_shared.txt

# Time-step level specific dependencies
blessed
Bottleneck
# Editable install with no version control (epilepsy2bids==0.0.7)
epilepsy2bids
gpustat
nest-asyncio
nvidia-ml-py
obspy
pyarrow
resampy
seisbench
# Editable install with no version control (timescoring==0.0.6)
timescoring
# PyTorch CPU-only versions (install with: --index-url https://download.pytorch.org/whl/cpu)
--extra-index-url https://download.pytorch.org/whl/cpu
wcwidth
