# Shared dependencies between requirements_window.txt and requirements_time_step.txt
Brotli
certifi
charset-normalizer
contourpy
cycler
decorator
filelock
fonttools
gmpy2
greenlet
h5py
idna
Jinja2
joblib
kiwisolver
llvmlite
lxml
MarkupSafe
matplotlib
mkl-service
mkl_fft
mkl_random
mpmath
networkx
numba
numpy
packaging
pandas
Pillow
psutil
pyEDFlib
pyparsing
PySocks
python-dateutil
pytz
requests
scikit-learn
scipy
six
SQLAlchemy
sympy
termcolor
threadpoolctl
torch
torchaudio
torchvision
tqdm
triton
typing_extensions
tzdata
urllib3
